.description {
  font-size: 16px;
  color: #001213;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.sportsBox {
  border-radius: 0.9%;
}

.imageBox {
  padding: 2px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
